.codeInputContainer {
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.codeInputBox {
  background-color: var(--bg-card);
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 24px;
  border: var(--border-main);
  border-radius: 8px;
  outline: none;
  transition: border-color 0.2s;
  color: var(--color-main);
}

.codeInputBox:focus {
  border-color: #4f46e5; /* фиолетовый акцент */
  box-shadow: 0 0 5px rgba(79, 70, 229, 0.5);
}

/* Убираем стрелки в Chrome, Safari, Edge */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Убираем стрелки в Firefox */
input[type="number"] {
  appearance: textfield;
}

@media (max-width: 400px) {
  .codeInputContainer {
    gap: 6px;
  }
  .codeInputBox {
    width: 40px;
    height: 40px;
    font-size: 18px;
  }
}
